.de-alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.de-alert-enter-active {
  opacity: 1;
  transform: translateX(0);
}
.de-alert-exit {
  opacity: 1;
}
.de-alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
}
