.dnd-kit-core {
  .drag-item {
    transition: box-shadow .3s ease;
    transform: translate(var(--translate-x, 0), var(--translate-y, 0)) scale(var(--scale));
    box-shadow: var(--box-shadow);

    &.dragging {
      --scale: 1.5;
      --box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01),
        0px 15px 15px 0 rgba(34, 33, 81, 0.25);
      //
      animation: down .3s ease;
    }
  }

  @keyframes down {
    0% {
      transform: translate(var(--translate-x, 0), var(--translate-y, 0)) scale(1);
    }

    100% {
      transform: translate(var(--translate-x, 0), var(--translate-y, 0)) scale(var(--scale));
    }
  }
}

.tt-daklg {
  .arco-row {}

  .arco-col {
    & > * {
      background-color: rgb(248, 236, 238);
    }
  }
}