@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: monospace;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 1s;
}
.my-node-exit {
  opacity: 1;
  transition: opacity 1s;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 1s;
}
